<html>
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body>
        <div class="header">
            <h2>Vehicle Monitoring</h2>
            <img src="../static/Images/search.png">
            <input type="text" name="txtIpCar" placeholder="Ip of Car to be Monitored">
        </div>

        <div class="mainController">
            <div class="mainHeader">
                <img src="../static/Images/gear.png">
                <p>Main Settings</p>
            </div>
            <img src="../static/Images/robot.png">

            <div class="mainOptions">
                <input type="button" value="Options 1">
                <input type="button" value="Options 2">
                <input type="button" value="Options 3">
                <input type="button" value="Options 4">
            </div>
        </div>

        <div class="map">
            <div class="mapHeader">
                <img src="../static/Images/map.png">
                <p>Map</p>
            </div>
        </div>
    </body>
</html>